backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env


frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
/frontend/react-native-frontend/FirebaseConfig.js

*.log